body{
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

a,a:hover, a:focus{
    color: #333;
    text-decoration: none;
}

h1,h2,h3,h4,p,span,strong{
    font-family: 'Open Sans', sans-serif;
}

.content_holder{
    position: relative;
    min-height: 1600px;
}

.sidebar{
    width: 200px;
    float: left;
}
.sidebar-absolute {    
    position: absolute;
}

.sidebar-fixed {
    float: left;
    position: fixed;
    top: 54px;
    left: 0;
}

.main_content {
    margin-left: 240px;
    width: auto;
    padding-top: 23px;
    max-width: 978px;
}

.navbar.navbar-top-level{
    margin-bottom: 0px;
}

.navbar.navbar-main-level{
    margin-bottom: 0px;
}


img.navbar-brand {
    padding: 0;
}
.root-container{
    position: relative;
}

.cluster .card {
    float: left;
}

.card {
    display: inline-block;
    margin: 5px;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
    -webkit-backface-visibility: hidden;
}

.card.small.square-cover {
    height: 245px;
    width: 160px;
}

.card-content {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff;
    height: 100%;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.card-click-target {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card.small.square-cover .cover {
    height: 160px;
    width: 160px;
}

.card .cover-image-container {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.card.small .details {
    max-height: 50px;
}
.card .details {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 7px 10px 0;
    position: relative;
}

.card.small .reason-set {
    max-height: 38px;
}
.card .reason-set {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    bottom: 0;
    display: block;
    padding: 0 10px;
    position: absolute;
    width: 100%;
}

.card.tiny.apps.square-cover .cover-image, .card.small.apps.square-cover .cover-image, .card.medium.apps.square-cover .cover-image, .card.medium-long.apps.square-cover .cover-image, .card.medium-minus.apps.square-cover .cover-image, .card.medium-plus.apps.square-cover .cover-image, .card.medium-plus-fixed.apps.square-cover .cover-image, .card.marge.apps.square-cover .cover-image, .card.large.apps.square-cover .cover-image {
    /* max-width: 73%; */
}
.card.small.circle-cover .cover-image, .card.small.square-cover .cover-image {
    max-height: 160px;
    max-width: 160px;
}
.card .cover-image {
    max-height: 92%;
    max-width: 92%;
}

.card .cover-inner-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.card .cover-outer-align {
    display: table;
    height: 100%;
    width: 73%;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(0,0,0,0.05);
}

h2.single-title-link {
    font-weight: 300;
    font-size: 25px;
}

a.see-more {
    float: right;
}

.cluster {
    
}
.sidebar .nav > li > a {font-size: 16px;font-weight: 300;padding: 5px 10px;}

.sidebar .nav > li{
    border-bottom: solid 1px #eeeeee;
    height: 40px;
}

.sidebar .nav > li:last-child{
    border-bottom: none;
}

.cluster-content {
    display: table-row-group;
}

nav.navbar.navbar-main-level {
    min-height: 54px;
    height: 54px;
}

ul.nav.navbar-nav {
    min-height: 54px;
    height: 54px;
}

.nav > li {
    height: 54px;
}

.navbar-inverse .navbar-nav > li > a {
    min-height: 54px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
}


.carousel {
    height: 220px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width: 768px){
    .sidebar{
        left: -250px;
        transition: all 0.2s;
        z-index: 9000;
    }

    .sidebar.shown{
        left: -15px;        
    }

    .main_content {
        margin-left: 0px;
        width: auto;
        padding-top: 23px;
    }

    .card{
        display: inline-block;
    }
    .card.small.square-cover {
        height: 245px;
        width: 140px;
    }

    .card.small.square-cover .cover{
        width: 140px;
        height: 140px;
    }

    .card.small.circle-cover .cover-image, .card.small.square-cover .cover-image{
        max-width: 140px;
        max-height: 140px;
    }

    h2.single-title-link {
    font-weight: 300;
    font-size: 16px;
    }

    .see-more{
        padding: 4px; 
    }

    .cluster-content{
        display: block;
    }

    .navbar-main-level .collapse.in {
        display: block;
        background-color: #2196f3;
        max-height: 200px;
        height: 200px;
    }
}

button.visible-xs.pull-left.toggle-sidebar {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    padding: 10px;
}